@charset "UTF-8";

/*
Paleta de cores
    azul: #56D2DB
    lilas: #BE81DB
*/

  @import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    box-sizing: border-box;
}

body, html {
    background-color: #25b5bd;
    width: 100vw;
    height: 100vh;    
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login {
    position: absolute;      
    width: 250px;
    height: 510px;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);   


    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.438);
    overflow: hidden;   

    transition: width .3s, height .3s;
    transition-timing-function:ease;


}

section#login > div#imagem {
    display: block;   
    background: #7f0db8 url(../imagens/pexels-pixabay-163036.jpg) no-repeat;
    width: 100%;
    height: 40%;
    background-size: cover;
    background-position: center center;
}

section#login > div#formulario {
    display: block; 
    width: 100%;
    height: 60%;
    padding: 10px;
    color: #285f63;
    font-weight: normal;
    text-align: justify;

}

section#login > div#formulario > h1 {
    text-align: center;
    font-family: Secular One;
    font-size: 1.8em;
    background-color:  #7ce9f191;
    border-radius: 5px;
    color:#285f63;
    padding: 2px;

}

section#login > div#formulario > p {
    font-size: 0.8em;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
}

form > input[type=submit], a{
    display:block;
    font-size: 1em;
    width: 100%;
    height:40px;
    background-color: #3f969c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

form > input[type=submit]:hover, a:hover {
    background-color: #56D2DB;
    color: #285f63;
}

form > div.campo {
    display: block;
    color: #285f63;
    width: 100%;
    height: 40px;
    margin: 5px 0px;
    border-radius: 5px;
}

div.campo > i {
    background-color: #285f63;
    border-radius: 5px;
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;


}

div.campo > input {
    position: relative;
    background-color: #a7e9ee;
    color: #285f63;
    font-size: 1em;
    width: calc(100% - 46px);
    height: 100%;
    border: 0px;
    border-radius: 5px;
    transform: translate (-5px);
    top: -10px;
    padding-left: 8px;
}

div.campo > input:focus-within{
    background-color: white;
    border: none;
}


